################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PruebaRepos/bin/Debug/net6.0
/PruebaRepos/obj
